<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2>User Friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2">
        <picture class="block-showcase__image">
            <source type="image/webp" srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x" />
            <source type="image/png" srcset="images/ipad.png, images/ipad@2x.png" />
            <img src="images/ipad.png" alt="">
        </picture>
        <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                        </svg><svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start & Manager Updates</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas nulla provident itaque iusto
                            cum
                            eligendi eos
                            repellendus neque recusandae consequuntur.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        </svg><svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#growth"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Staging, GIT & WP-CLI</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo omnis sequi modi non quibusdam
                            doloribus
                            impedit est ipsa ea quae?</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        </svg><svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#wordpress"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Dynamic Caching& More</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A similique, accusamus voluptatem
                            itaque
                            nesciunt ab quasi quis eligendi totam omnis.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>